[Unit]
Description=Agate Gemini server
After=network.target

[Service]
User=root
ExecStart=/bin/agate --content /home/fracchio/gemini-fmpoerio.eu/ --certs /home/fracchio/.certificates/ --addr [::]:1965 --hostname fmpoerio.eu --hostname en.fmpoerio.eu --lang it_IT

[Install]
WantedBy=multi-user.target
